/* UNIVERSAL STYLES ===============*/

html {
  font-family: "Ubuntu", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
h4 {
  font-size: 1.5rem;
}
p {
  color: #444;
}
strong {
  color: #333;
}
em {
  font-style: italic;
}
a {
  color: #0FA3AB;
  text-decoration: underline;
}
a:hover {
  color: #BBB;
}
a:active {
  text-decoration: none;
}
.section {
  border-top: hsla(183, 91%, 37%, 0.1) 1px solid;
  display: flex;
  position: relative;
  top: 32px;
}

/* NAVIGATION ====================*/

#nav-desktop {
  align-items: center;
  background-color: white;
  border-bottom: hsla(183, 91%, 37%, 0.15) 1px solid;
  box-shadow: 0 -1px 12px;
  display: flex;
  height: 64px;
  position: fixed;
  width: 100%;
  z-index: 100;
  -webkit-backdrop-filter: blur(8px);
}
#logo,
#copyright {
  align-items: center;
  display: flex;
  width: 50%;
  margin: 16px 0 16px 24px;
}
#logo img {
  height: 32px;
  width: auto;
}
#logo h1 {
  color: #0FA3AB; /* only applies to "Academy" */
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 1.1px;
}
.icon {
  visibility: hidden;
}
ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin-right: 24px;
  opacity: 1;
  width: 50%;
}
ul a {
  float: right;
  margin-left: 16px;
  text-decoration: none;
}
ul a:active {
  text-decoration: underline;
}
ul:hover li{
  opacity: .8;
  filter: blur(1px);
}
li {
  font-size: 14px;
  transition: opacity 300ms linear, filter 300ms linear;
}
ul li:hover{
    opacity: 1;
    filter:blur(0px);
}

/* HERO ===============*/
#hero {
  align-items: center;
  background-color: hsl(183, 23%, 95%);
}
#banner-container {
  box-sizing: border-box;
  width: 60%;
  margin: 32px 24px;
}
#banner-container img {
  height: auto;
  width: 100%;
}
#banner-text {
  width: 40%;
}
#banner-text h1 {
  color: #2A5E61;
  font-size: 3.3rem;
  line-height: 0.95;
  margin: 0 5rem 2rem 1rem;
}
h3 {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.4;
  margin: 0 5rem 2rem 1rem;
}
button {
  background-color: hsl(39, 100%, 60%);
  border: hsl(183, 91%, 25%) 2px solid;
  border-radius: 1rem;
  color: hsl(183, 91%, 0%);
  box-shadow: 1px 2px 5px -3px;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  font-weight: bolder;
  margin-left: 1rem;
  padding: 8px 36px;
  transition: all 400ms ease;
  width: 83%;
}
button:hover {
  background-color: hsl(39, 100%, 40%);
  transition: all 400ms ease;
  cursor: pointer;
}
button:active {
  background-color: hsl(39, 100%, 25%);
  color: white;
  box-shadow: none;
}

/* EVENTS ===============*/
#events,
footer {
  background-color: hsl(183, 57%, 12%);
}
.left-side-feature {
  box-sizing: border-box;
  margin: 32px 24px;
  width: 60%;
}
.left-side-media {
  height: auto;
  margin-bottom: 32px;
  width: 100%;
}
h2,
.quote,
.left-side-feature p {
  color: hsl(183, 23%, 95%);
  font-size: 2.8rem;
  margin-bottom: 24px;
}
.quote,
.left-side-feature p {
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1.7;
}
.left-side-feature p {
  font-size: .75rem;
}
.event-cards {
  border-left: hsla(183, 23%, 95%, 0.15) 1px solid;
  width: 40%;
}
.card {
  align-items: flex-start;
  border-bottom: hsla(183, 23%, 95%, 0.15) 1px solid;
  box-sizing: border-box;
  display: flex;
  padding: 16px;
}
.list-top {
  margin: 16px 0 0 0;
}
.square-container {
  height: auto;
  overflow: scroll;
  width: 35%;
}
.square-pic {
  height: auto;
  width: 100%;
}
.rectangle-container {
  display: none;
}
.event-notes {
  height: auto;
  width: 65%;
}
.event-notes h4 {
  color: hsl(39, 100%, 60%);
  margin: 0 2rem 1rem 2rem;
}
.event-notes p {
  color: hsl(183, 23%, 95%);
  font-size: 1rem;
  margin: 1rem 2rem;
}
.event-notes a {
  font-size: .75rem;
}

/* START LEARNING ================*/
#start-learning {
  background-color: #fff;
}
#start-learning h2 {
  color: #2A5E61;
  margin: 32px auto;
}
#grid-container {
  display: grid;
  grid: auto auto / repeat(3, 1fr);
  grid-gap: 32px;
  margin: 64px 72px 32px 72px;
}
.course-card {
  background-color: hsl(183, 23%, 95%);
  width: auto;
}
.course-card img {
  width: 100%;
}
.course-description {
  margin: 1.5rem;
}
.course-description h4 {
  margin: 1rem 0 1.5rem 0;
}
.course-description p {
  font-weight: lighter;
  line-height: 1.4;
  margin: 0.5rem 0rem;
}

/* THESIS EXHIBIT ===============*/
#thesis-exhibit {
  background-color: hsl(183, 23%, 95%);
  position: relative;
  top: 0px;
}
#thesis-exhibit h2,
#thesis-exhibit .quote,
#thesis-exhibit .left-side-feature p {
  color: #2A5E61;
}
.thesis-notes h4 {
  color: hsl(39, 100%, 48%);
}
.thesis-notes p {
  color: hsl(183, 23%, 32%);
}

/* FOOTER ===============*/
footer {
  align-items: center;
  justify-content: flex-end;
  display: flex;
}
#copyright p,
#footer-ul li {
  color: #0FA3AB;
  font-size: .75rem;
  font-weight: lighter;
}
#footer-ul {
  justify-content: flex-end;
  width: 50%;
  margin-right: 24px;
}

/* TABLET ===============*/
@media only screen and (max-width: 960px) {
  #banner-text h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.1rem;
  }
}

/* MOBILE ===============*/
@media only screen and (max-width: 470px) {
  #nav-desktop,
  #logo,
  #logo h1,
  ul,
  #events .left-side-feature,
  .square-container,
  .course-card img,
  .course-card p,
  .left-side-feature aside,
  .thesis-card {
    display: none;
  }

  /* NAVIGATION ===============*/
  #nav-mobile {
    align-items: center;
    background-color: white;
    border-bottom: hsla(183, 91%, 37%, 0.15) 1px solid;
    box-shadow: 0 -1px 12px;
    display: flex;
    height: 48px;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    z-index: 100;
    -webkit-backdrop-filter: blur(8px);
  }
  .icon {
    visibility: visible;
  }

  /* HERO ===============*/
  .section {
    display: block;
    top: 48px;
  }
  #banner-container {
    margin: 0 0 32px 0;
    width: 100%;
  }
  #banner-text {
    width: 100%;
  }
  #banner-text h1 {
    line-height: .9;
    margin: 2rem 1rem;
  }
  #banner-text h3 {
    margin: 1.5rem 1rem;
  }
  button {
    margin: 0 auto 2rem 1rem;
    padding: 1rem 1rem;
    width: 60%;
  }

  /* EVENTS ===============*/
  #events {
    background-color: hsl(183, 57%, 12%);
    display: block;
  }
  .event-cards {
    width: 100%;
  }
  .rectangle-container {
    display: block;
  }
  .rectangle-pic {
    width: 100%;
  }
  .card {
    border-bottom: none;
    display: block;
  }
  .list-top {
    margin: 0;
  }
  .event-notes {
    margin: 2rem 0;
    width: 100%;
  }
  .event-notes h4,
  .event-notes p {
    margin: 1rem;
  }

  /* START LEARNING ===============*/
  #start-learning {
    padding: 2rem 0 1rem auto;
    margin-bottom: 1rem;
  }
  #start-learning h2 {
    margin: 2rem 0 1rem auto;
    text-align: center;
  }
  #grid-container {
    display: block;
    margin: 64px 0 32px 0;
  }
  .course-card {
    background-color: hsl(183, 23%, 80%);
    padding: 16px;
    margin: 8px 16px;
  }
  .course-description,
  .course-description h4 {
    margin: 0;
  }

  /* THESIS EXHIBIT ===============*/
  #thesis-exhibit {
    background-color: hsl(39, 100%, 60%);
  }
  #thesis-exhibit .left-side-feature {
    margin: 0;
    width: 100%;
  }
  .left-side-media {
    margin-bottom: 1rem;
  }
  .left-side-feature h2 {
    margin: 0;
    padding: 0 1rem 1.5rem 1rem;
    text-align: center;
  }

  /* FOOTER ===============*/
  #copyright {
    margin: 1rem 1.5rem;
    width: 100%;
  }
}
